<footer>
    <div class="f-info">
        <div class="f-info-links">
            <i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-youtube"></i>
<i class="fa-brands fa-linkedin"></i>

            
        </div>
         <h4>Wandraus list</h5>
        <div class="a-link">
       
            <a href="/privary" id="an">Privacy</a>
            <a href="/term" id="am">Term</a>
        </div>
    </div>
</footer>